.cuadro {
    padding: 10px;
    background-color: #808782;
    color: #ace1af; 
    border-radius: 10px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    font-family: "Fira Code", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px; 
    max-width: 300px; 
    min-height: 50px; 
    max-height: 100px;
    width: 100%; 
    height: auto; 
    text-shadow: 4px 3px 3px black;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.cuadro:hover {
    background-color: rgba(163, 233, 173, 0.733);
    color: #ace1af;
}

.cuadro span {
    color: inherit; /* Asegura que el color del texto herede el color del cuadro */
}

.cuadro:hover span {
    color: #ace1af; /* Asegura que el color del texto cambie a negro en hover */
}