/* globals.css */

/* Estilos generales */
body {
    margin: 0;
    font-family: 'Fira Code', sans-serif;
    background-color: #ace1af; /* Fondo negro */
    min-width: 800px;
    transition : background 0.1s ease-in-out;
}

.degrade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    transition: background 0.2s ease-in-out;
    z-index: -1;
    }

main {
    padding-top: 80px; /* Añade un padding superior para evitar que el contenido sea tapado por la barra */
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
    color: #121212; /* Verde */
    margin: 20px 0;
}

/* Párrafos */
p {
    line-height: 1.6;
    margin: 10px 0;
}

/* Enlaces */
a {
    color: #656565; /* Verde */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #fff; /* Blanco */
}


.presentacion {
    display: flex;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */ 
    text-align: center;
    gap: 20px; /* Espacio entre los elementos */
    max-width: 1200px; /* Ancho máximo del contenedor */
    height: 50vh; /* Ocupa toda la altura de la ventana */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}

.izquierda {
    display: flex;
    flex-direction: column; 
    width: 40%; 
}

.derecha {
    text-align: left; /* Centra el texto horizontalmente */
    width: 50%; 
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 3px 2px 2px rgba(152, 221, 125, 0.945);
}

.titulo2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

.contenido {
    display: flex; /* Permite flexibilidad en la disposición */
    align-items: center; /* Centra todo el contenido horizontalmente */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    text-align: center; /* Alinea todo el texto al centro */
}
/* Estilos para la imagen */
.imagen img {
    max-width: 40%;
    height: auto;
    width: auto;
    object-fit: contain;
    border-radius: 50%;
    transition: box-shadow 0.4s ease-in-out;
}
.imagen img:hover {
    box-shadow : 0 0 15px 10px rgb(204, 226, 216);
}


.secciones {
    display: flex;
    justify-content: center;
    gap: 10px; 
    flex-wrap: wrap; 
    flex-direction: column;
    background-color: #7a7f7b;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    width : 80%;
    padding-bottom: 2.5%;
    margin-bottom: 4%;
}

.principal {
    color: #ace1af;
    margin:auto;
    padding-top: 3%;
    font-size: 2em;
    text-shadow: 5px 3px 5px black;
    gap: 20px; 
    transition: text-shadow 0.3s ease, color 0.3s;
    -webkit-text-stroke: 0.8px rgb(0, 0, 0);
}

.principal:hover {
    text-shadow: 5px 3px 5px rgba(44, 224, 98, 0.5);
    -webkit-text-stroke: 0.8px white;
    
}

.iconos {
    text-align: center;
    margin-bottom: 5%;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    background-color: #7a7f7b;
    max-width: 1200px;
    width : 80%;
    margin: 0 auto;
    margin-bottom: 4%;
}

.tabla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
    margin-top: 2%;
    column-gap: 3%; /* Espacio entre las filas */
}

.tabla img {
    width: 60%; /* La imagen abarcará todo el espacio del recuadro */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 15%;
    margin-top: 15%;
    max-width: 400px;
}

.ejemplos {
    text-align: center;
    margin-bottom: 5%;
    gap: 10px;
    border-radius: 10px;
    background-color: #7a7f7b;
    max-width: 1200px;
    width : 80%;
    margin: 0 auto;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    padding-top:2.5%;
}

.contacto{
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    margin-top: 5%; 
    background-color: #7a7f7b;
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    border-radius: 10px;
    padding-bottom: 0%;
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: #1DB954;
    animation: blink 1s step-end infinite;
    position: relative;
    margin-left: 5px; /* Ajusta la posición del cursor */
    transform: translateY(0.1em);
}
