/* globals.css */

/* Estilos generales */
body {
    margin: 0;
    font-family: 'Fira Code', sans-serif, monospace;
    letter-spacing: 2px;
    background-image : url('../../public/4.png');
    background-repeat: repeat;
    background-size: cover;
    min-width: 800px;
    transition : background 0.1s ease-in-out;
}

.degrade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    transition: background 0.2s ease-in-out;
    z-index: -1;
    }

main {
    padding-top: 80px; /* Añade un padding superior para evitar que el contenido sea tapado por la barra */
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
}

/* Párrafos */
p {
    line-height: 1.6;
    margin: 10px 0;
}

/* Enlaces */
a {
    color: #656565; /* Verde */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #fff; /* Blanco */
}


.presentacion {
    padding-top:5%;
    margin-top:10%;
    margin-bottom:10%;
    display: flex;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */ 
    text-align: center;
    gap: 20px; /* Espacio entre los elementos */
    max-width: 1200px; /* Ancho máximo del contenedor */
    height: 50vh; /* Ocupa toda la altura de la ventana */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}

.izquierda {
    display: flex;
    flex-direction: column; 
    width: 60%; 
    padding: 10% 5% 0 0;
}

.derecha {
    text-align: center; /* Centra el texto horizontalmente */
    width: 50%; 
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 3px 2px 2px rgba(152, 221, 125, 0.945);
}

.titulo2 {
    text-align: center;
    font-weight: bold;
    font-size: 250%;
    font-family: 'Roboto Slab', serif;
    position: relative;
    color: #b0c3a4;
    -webkit-text-stroke: 1.5px black;
    display: inline-block;
    text-shadow: 5px 3px 2px black;
    margin-top:25%;
    margin-bottom:10%;
}

.Nombre{
    position: relative;
    color: #b0c3a4;
    font-size : 200%;
    -webkit-text-stroke: 1.5px black;
    display: inline-block;
    cursor: pointer;
    text-shadow: 5px 3px 2px black;
    transition: text-shadow 0.2s ease-out;
}

.Nombre:hover {
    text-shadow:
    0 0 20px #2e620f;
    -webkit-text-stroke: 2px black;
    transition: text-shadow 0.2s ease-out;
}

.Nombre::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #2e620f;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-shadow: 3px 2px 2px rgb(255, 255, 255);
    transition: opacity 0.1s ease-out 0s, transform 0.1s ease-out 0.3s;
}

.Nombre:hover::before {
    opacity: 1;
    transform: translate(-50%, -80%) scale(3) translateY(1em);
}

.contenido {
    display: flex; 
    align-items: center; 
    width: 100%;
    text-align: center;
}
/* Estilos para la imagen */
.imagen img {
    max-width: 40%;
    height: auto;
    width: auto;
    object-fit: contain;
    border-radius: 50%;
    transition: box-shadow 0.4s ease-in-out;
    margin-bottom: 4%;
}
.imagen img:hover {
    box-shadow : 0 0 15px 10px rgb(204, 226, 216);
}


.secciones {
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap; 
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width : 80%;
    font-size : 200%;
    padding-top: 10%;
    margin-top: 4%;
    padding-bottom: 10%;
    margin-bottom: 4%;
}

.principal {
    color: #b0c3a4;
    margin:auto;
    padding-top: 3%;
    font-size: 2em;
    text-shadow: 5px 3px 5px black;
    gap: 20px; 
    transition: text-shadow 0.3s ease, color 0.3s;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}

.principal:hover {
    text-shadow: 0 0 7px #2e620f;
    -webkit-text-stroke: 1.5px rgb(8, 8, 8);  
}

.iconos {
    text-align: center;
    margin-bottom: 5%;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    background-color: #7a7f7b;
    max-width: 1200px;
    width : 80%;
    margin: 0 auto;
    margin-bottom: 4%;
}

.tabla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
    margin-top: 2%;
    column-gap: 3%; /* Espacio entre las filas */
}

.tabla img {
    width: 60%; /* La imagen abarcará todo el espacio del recuadro */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 15%;
    margin-top: 15%;
    max-width: 400px;
}

.ejemplos {
    text-align: center;
    margin-bottom: 5%;
    gap: 10px;
    border-radius: 10px;
    max-width: 1200px;
    width : 80%;
    margin: 0 auto;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    padding-top:2.5%;
}

.contacto{
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    margin-top: 5%; 
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    border-radius: 10px;
    padding-bottom: 0%;
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: #b0c3a4;
    animation: blink 1s step-end infinite;
    position: relative;
    margin-left: 5px; /* Ajusta la posición del cursor */
    transform: translateY(0.1em);
}
